<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/barcommerce</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">1234</property>
    
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Caixa"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Cliente"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Item"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.ItemMt"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Mesa"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Movimento"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Mtprima"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Pedido"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Produto"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Sistema"/>
    <mapping class="br.com.ifpb.daca.barcommerce.bean.Usuario"/>


  </session-factory>
</hibernate-configuration>
